@charset "utf-8";
  @import url('https://fonts.googleapis.com/css2?family=Instrument+Serif:ital@0;1&family=Playfair+Display:wght@400;500&display=swap');
  @import url('https://fonts.googleapis.com/css2?family=Instrument+Serif:ital@0;1&family=Nanum+Gothic:wght@400;700;800&family=Playfair+Display:wght@400;500&display=swap');
html{
    scroll-behavior: smooth;
}
a{
    text-decoration: none;
    color: #333;
    font-weight: 600;
}
body{
    font-family: 'Hahmlet';
    font-weight: 400;
}
h2{
    color: #CF112D;
    font-size: 24px;
    text-align: center;
    font-family: 'Playfair Display', serif;
} 

.mc > h2{
    margin-bottom: 20px;
    font-size: 34px;
}
/* 탭메뉴 */

.tab_wrap .tit_list {
    position: relative;
    font-size: 0;
    text-align: center;
}
.tab_wrap .tit_list::after {
    content:'';
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 1px;
    z-index: 1;
}
.tab_wrap .tit_list > li {
    display: inline-block;
    margin-right: 3px;
    vertical-align: top;
}
.tab_wrap .tit_list > li a {
    display: inline-block;
    padding: 10px 15px;
    font-size: 14px;
    color: #000;
    text-decoration: none;
}
.tab_wrap .tit_list > li a:hover {
    background: #efefef;
}
.tab_wrap .tit_list > li.active a {
    position: relative;
    background: #fff;
    color: #CF112D;
    z-index: 2;
}
.tab_wrap .tab_con .tab_list{
    display: none;
    padding: 20px 0px 0px 0px;
}


.swiper-slide span{
    font-size: 14px;
    font-family: 'Nanum Gothic', sans-serif;
}



/* 탭메뉴 */




.top_btn{ 
    display: block;
    line-height: 45px;
    text-align: center;
    width: 45px;
    height: 45px;
    border-radius: 50%;
    color: #CF112D;
    font-size: 45px;
    position: fixed;
    bottom: 6%;
    right: 3%;
    z-index: 1000000;
}

/* https://dbreblog.com/53 */
.ani{
    width: 100%;
    overflow: hidden;
}
.ani h2{
    display: none;
}

.animated-title {font-size:60px; 
    font-family: 'Playfair Display', serif;  
    font-weight:400; 
    position: relative; 
    width: 100%;
    overflow: hidden;
    max-width:100%; 
    height: auto; 
    padding:70px 0 0px; 
    overflow-x: hidden; 
    overflow-y: hidden; 
}
.animated-title .track {
    position: absolute; 
    white-space: nowrap;
    will-change: transform;
    animation: marquee 25s linear infinite;
}

@keyframes marquee {
  from { transform: translateX(0); }
  to { transform: translateX(-50%); }
}
@media (hover: hover) and (max-width: 2150px){
.animated-title .content {
    -webkit-transform: translateY(calc(100% - 8rem)); 
    transform: translateY(calc(100% - 8rem));}
    }