@charset "utf-8";
  @import url('https://fonts.googleapis.com/css2?family=Instrument+Serif:ital@0;1&family=Playfair+Display:wght@400;500&display=swap');
  @import url('https://fonts.googleapis.com/css2?family=Instrument+Serif:ital@0;1&family=Nanum+Gothic:wght@400;700;800&family=Playfair+Display:wght@400;500&display=swap');
html{
    scroll-behavior: smooth;
}
a{
    text-decoration: none;
    color: #333;
    font-weight: 600;
}
body{
    font-family: 'Hahmlet';
    font-weight: 400;
}
h2{
    color: #CF112D;
    font-size: 24px;
    text-align: center;
    font-family: 'Playfair Display', serif;
} 
.mc{
    width: 1200px;
    height: 500px;
    position: relative;
    margin: 0 auto;
    margin-top: 80px;
}
.mc > h2{
    margin-bottom: 20px;
    font-size: 34px;
}
/* 탭메뉴 */
.tab_wrap {
    width: 1200px;
    margin: 30px auto 0; 
    /* padding: 0 15px; */
}
.tab_wrap .tit_list {
    position: relative;
    font-size: 0;
    text-align: center;
}
.tab_wrap .tit_list::after {
    content:'';
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 1px;
    z-index: 1;
}

.tab_wrap .tit_list > li {
    display: inline-block;
    margin-right: 3px;
    vertical-align: top;
}
.tab_wrap .tit_list > li a {
    display: inline-block;
    padding: 10px 15px;
    font-size: 14px;
    color: #000;
    text-decoration: none;
}
.tab_wrap .tit_list > li a:hover {
    background: #efefef;
}
.tab_wrap .tit_list > li.active a {
    position: relative;
    background: #fff;
    color: #CF112D;
    z-index: 2;
}
.tab_wrap .tab_con .tab_list{
    display: none;
    padding: 20px 0px;
}

/* 슬라이드 */
.slider {
    font-size: 0;
}
.slider .inner {
    overflow: hidden;
    width: 100%;
    margin: 0 auto;
}
.slide_list > li {
    width: 25%;
    /* background: #8ab4f8; */
    font-size: 20px;
    line-height: 40px;
    color: #000;
}
.swiper-slide p{
    font-size: 17px;
    font-weight: bold;
    text-overflow: ellipsis;
    overflow: hidden;
    white-space: nowrap;
    font-family: 'Nanum Gothic', sans-serif;
}
.swiper-slide span{
    font-size: 14px;
    font-family: 'Nanum Gothic', sans-serif;
}



/* 탭메뉴 */
.tab_wrap2{
    width: 1200px;
    margin: 30px auto 0; 
    /* padding: 0 15px; */
}
.tab_wrap2 .tit_list {
    position: relative;
    font-size: 0;
}
.tab_wrap2 .tit_list::after {
    content:'';
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 1px;
    z-index: 1;
}

.tab_wrap2 .tit_list > li {
    display: inline-block;
    margin-right: 3px;
    vertical-align: top;
}
.tab_wrap2 .tit_list > li a {
    display: inline-block;
    padding: 10px 15px;
    font-size: 14px;
    color: #000;
    text-decoration: none;
}
.tab_wrap2 .tit_list > li a:hover {
    background: #efefef;
}
.tab_wrap2 .tab_con2 .tab_list{
    display: none;
    padding: 15px 0px;
}
.vm a{
    color: #CF112D;
    position: absolute;
    right: 0;
    font-size: 13px;
    top: 0px;
}



/* 푸터영역 */
footer{
    background-color: #000;
    width: 100%;
    height: 150px;
    padding: 20px 0px 20px 0px;
    font-size: 14px;
}
.f_top{
    width: 1200px;
    margin: 0 auto;
    /* text-align: center; */
    line-height: 20px;
    padding-bottom: 20px;
}
.f_top > img{
    padding-bottom: 10px;
}
.f_top ul{
    display: flex;
}
.f_top ul > li {
    margin-right: 40px;
}
.f_top ul > li::after{
    content: "";
    display: block;
    height: 100%;
    width: 1px;
    background-color: #fff;
    transform: translate(73px, -18px);
}
.f_top ul > li:last-child::after{
    background:none;
}
.f_top ul > li > a{
    display: block;
    color: #ccc;
    font-family: 'Nanum Gothic', sans-serif;

}
address{
    width: 1200px;
    margin: 0 auto;
    line-height: 30px;
    position: relative;
}
address > p{
    color: #ccc;

}
.sns{
}
.sns ul{
    position: absolute;
    right: 0;
    top: -140%;
    display: flex;
}
.sns ul > li{
    margin-left: 20px;
}
.sns ul > li > a{
    display: block;
    font-family: 'Nanum Gothic', sans-serif;
}
.fab, .fa-brands{
    font-size: 40px;
    color: #fff;
    font-family: 'Nanum Gothic', sans-serif;
}
.top_btn{ 
    display: block;
    line-height: 45px;
    text-align: center;
    width: 45px;
    height: 45px;
    border-radius: 50%;
    color: #CF112D;
    font-size: 45px;
    position: fixed;
    bottom: 6%;
    right: 3%;
    z-index: 1000000;
}
/* https://dbreblog.com/53 */
.animated-title {font-size:60px; 
    font-family: 'Playfair Display', serif;  
    font-weight:400; 
    position: relative; 
    width: 100%;
    max-width:100%; 
    height: auto; 
    padding:100px 0; 
    overflow-x: hidden; 
    overflow-y: hidden; 
}
.animated-title .track {
    position: absolute; 
    white-space: nowrap;
    will-change: transform;
    animation: marquee 60s linear infinite; 
}
@keyframes marquee {
  from { transform: translateX(0); }
  to { transform: translateX(-50%); }
}
@media (hover: hover) and (min-width: 700px){
.animated-title .content {
    -webkit-transform: translateY(calc(100% - 8rem)); 
    transform: translateY(calc(100% - 8rem));}
    }