@charset "utf-8";
@media screen and (min-width:1025px) {
  
  html{
    overflow-x: hidden;
  }
  body{
    overflow-x: hidden;
  }
    header{
        line-height: 60px;
        width: 100%;
        height: 100%;
        border-bottom: 1px solid #ccc;
    }
    .tab_wrap {
      width: 1200px;
      margin: 30px auto 0; 
      /* padding: 0 15px; */
  }

    h1{
        text-align: center;
        /* background-color: royalblue; */
        z-index: 10000000;
    }
    h1 a{
      position: relative;
        z-index: 2000;
    }
    h1 img{
        margin-top: 15px;
    }
    .m_logo{
      display: none;
    }
    i.fa-bars{
      display: none;
    }
    .log{
        position: absolute;
        right: 0;
        top: 30px;
        z-index: 500;
    }
    .log i.fa-user{
      display: none;
    }
    i.fa-angle-right{
      display: none;
    }
    i.fa-angle-left{
      display: none;
    }
    .log ul{
        display: flex;
    }
    .log ul li{
        margin-right: 20px;
        line-height: 40px;
        font-size: 15px;
        font-family: 'Nanum Gothic', sans-serif;
    }
    .log ul li:last-child{
        margin-right: 40px;
    }
    .log img{
        width: 20px;
        transform: translateY(5px);
    }
    .search_box{
      width: 100%;
      height: 100%;
      background-color: rgba(0,0,0,.9);
      z-index: 100000;
      top: 0;
      left: 0;
      position: fixed;
      opacity: 0;
      visibility: hidden;
      transition: 0.5s;
      z-index: 100000000;
    }
    .search_box > div{
      width: 550px;
      height: 60px;
      position: relative;
      left: 50%;
      top: 50%;
      transform: translate(-50%, -50%);
    }
    .search_box > div i.fa-search{
      font-size: 32px;
      color: #fff;
      right: 0;
      position: absolute;
      top: 14px;
      cursor: pointer;
    }
    .search_box h3{
      font-size: 40px;
      left: 50%;
      top: 40%;
      transform: translate(-50%, -50%);
      position: absolute;
      color: #fff;
    }
    input[type=search]{
      position: absolute;
      /* left: 50%;
      top: 50%;
      transform: translate(-50%, -50%); */
      z-index: 50000;
      width: 500px;
      height: 60px;
      outline: none;
      border-radius: 30px;
      text-indent: 30px;
    }

    .search_box i.fa-close{
      position: absolute;
      font-size: 40px;
      right: 40px;
      top: 2.5%;
      color: #fff;
      transition: 1s;
    }
    i.fa-close:hover{
      transform: rotate(360deg);
    }
    #y{
      display: none;
    }


    label.fas{
      cursor: pointer;
      font-size: 18px;
    }
    .gnb{
        position: absolute;
        top: 30px;
        width: 100%;
    }
    .gnb > ul{
        display: flex;
        width: 100%;
    }
    .gnb > ul > li > a{
        display: block;
        height: 60px;
    }
    .gnb > ul > li:first-child{
        margin-left: 40px;
    }
    .gnb > ul > li{ 
        margin-left: 20px;
        line-height: 40px;
        font-size: 14px;
        transition: 0.5s;
        z-index: 10000;
    }
    .gnb > .fa-close{
      display: none;
    }
    .sub{
        /* background-color: royalblue; */
        margin-left: 150px;
        top: 60px;
        left: 5%;
        position: absolute;
      }
      .sub > dt{
        display: block;
        line-height: 210%;
        /* color: #fff; */
        font-weight: 800;
        font-size: 21px;
        font-family: 'Nanum Gothic', sans-serif;
      }
      .sub > dd > a{
        display: block;
        line-height:250%;
        font-family: 'Nanum Gothic', sans-serif;
        transition: 0.5s;
        font-size: 15px;
      }
      .sub > dd > a:hover{
        color: #CF112D;
      }
      .sub_wrap{
        height: 0px;
        overflow: hidden;
        background-color: #fff;
        position:absolute;
        left:0px;top:72px;
        width:100%;
        transition: 0.5s;
      }
      .gnb > ul > li:hover .sub_wrap{
        height: 470px;
      }
      .gnb > ul > li:hover::after{
        content: '';
        display: block;
        width: 100%;
        transform: translateY(8px);
        height: 4px;
        background-color: #CF112D;
      }
      .sub_n{
        position: absolute;
        top: 50px;
        left: 40px;
      }
      .sub_n > dt{
        font-weight: 900;
        font-size: 2rem;
        line-height: 210%;
      }
      .sub2{
        left: 17%;
        top: 60px;
        position: absolute;
      }
      .sub3{
        left: 25%;
        top: 60px;
        position: absolute;
      }
      .sub3 > li > a{
        font-size: 21px;
        font-family: 'Nanum Gothic', sans-serif;
      }
    /* 메인영역 */
      main{
        width: 100%;
        position: relative;
      }
      .visual{

      }
      .visual_slide{
        width: 100%;
        height: 100%;
        position: relative;
      }
      .visual h2{
        display: none;
      }
      .swiper-slide{
        width: 100%;
        position: relative;
      }
      .swiper-slide img{
        width: 100%;
      }
      .slider .inner {
        overflow: hidden;
        width: 100%;
        margin: 0 auto;
    }
    /* 슬라이드 */
.slider {
    font-size: 0;
}
.slide_list > li {
    width: 25%;
    /* background: #8ab4f8; */
    font-size: 20px;
    line-height: 40px;
    color: #000;
}
.swiper-slide{
    overflow-x: auto;
}
.swiper-slide p{
    font-size: 17px;
    font-weight: bold;
    text-overflow: ellipsis;
    overflow: hidden;
    white-space: nowrap;
    font-family: 'Nanum Gothic', sans-serif;
}
      .s_ti{
        position: absolute;
        top: 45%;
        left: 2%;
      }
      .visual p{
        position: absolute;
        top: 50%;
        left: 2%;
        font-size: 30px;
      }
      .visual > .swiper-pagination{
        position: absolute;
      }
      .mc{
        width: 1200px;
        height: 500px;
        position: relative;
        margin: 0 auto;
        margin-top: 80px;
    }
      .mc1_wrap{
        width: 1200px;
        display: flex;
      }
      .mc1_box{
        width: 380px;
        height: 360px;
        margin-right: 30px;
        position: relative;
        /* border: 1px solid #333; */
      }
      .mc1_box a{
        display: none;
        border: 1px solid #fff;
        padding: 10px 10px;
        top: 50%;
        left: 50%;
        color: #fff;
        transform: translate(-50%, -50%);
        position: absolute;
        z-index: 20;
        transition: 0.5s;
      }
      .mc1_box:last-child{
        margin-right: 0px;
      }
      .mc1_box > img{
        width: 100%;
        height: 100%;
        transition: 0.5s;
        z-index: 10;
      }
      .mc1_box:hover img{
        filter: brightness(50%);
      }
      .mc1_box:hover img ~ a{
        display: block;
      }
      .mc1_box a:hover{
        background-color: #fff;
        color: #CF112D;
      }
      .mc1_box p{
        margin-top: 20px;
        text-align: center;
        font-size: 18px;
        font-weight: 600;
      }
      
 
      
      /* 메인콘텐츠3 */
      .m_con4 > h3{
        display: none;
      }
      .tab{
        margin-top: 30px;
        display: flex;
        margin-bottom: 30px;
      }
      .tab li{
        width: 100px;
        height: 20px;
        margin-right: 3%;
        text-align: center;
      }
      #tab_m, #tab_m2, #tab_m3{
        display: none;
      }
      input[type=radio]:checked ~ label::after{
        content: "";
        display: block;
        background-color: #333;
        width: 100%;
        height: 5px;
        transform: translateY(8px);
      }
      .tab_c{
        margin-top: 30px;
        display: none;
      }
      .mo img{
        margin-top: 50px;
        width: 100%;
        height: 300px;
      }


      /* 메인콘텐츠4 */
      .mc_box{
        width: 100%;
        height: 640px;
        background-image: url('../img/pcmain7.png');
        background-attachment: fixed; /* 배경고정 */
        background-repeat: no-repeat; /* 이미지 반복하지 않기 */
        background-size: cover;  /* 화면에 꽉차게하기 */
        position: relative;
      }
    .t_box{
      width: 300px;
      height: 200px;
      position: absolute;
      left: 20%;
      top: 35%;
      text-align: center;
      color: #fff;
      line-height: 50px;
      font-size: 16px;
    }
    .t_box p:first-child{
    font-family: 'Nanum Gothic', sans-serif;

    }
    .t_box h3{
      font-size: 30px;
    }
    .shop{
      border: 1px solid #fff;
      font-size: 12px;
      color: #fff;
      padding: 10px 10px;
      font-weight: 800;
      transition: 0.5s;
    }
    .shop:hover{
      background-color: #fff;
      color: #CF112D;
    }
    .tab_wrap3{
      width: 1100px;
      margin: 30px auto 0; 
      top: 45%;
      left: 53%;
      transform: translate(0%, -50%);
      position: absolute;
      /* padding: 0 15px; */
  }
  
  .s_wrap{
    display: flex;
    width: 1200px;
    margin-top: 50px;
  }
  .s_box{
    width: 285px;
    height: 265px;
    margin-right: 20px;
    position: relative;
    /* line-height: 30px; */
  }
  .tag{
    position: absolute;
    bottom: 0;
    right: 0;
  }
  .s_box:last-child{
    margin-right: 0px;
  }
  .s_box > img{
    width: 100%;
    height: 100%;
  }
  .s_box a{
    display: block;
  }
  .s_box a img{
    width: 60px;
    height: 60px;
    vertical-align:top;
  }
  i.fa-angle-down{
    float: right;
    transform: translateY(15px);
  }
  .s_name{
    display: inline;
  }
  
  .mc0{
    margin-bottom: 120px;
  }

  .mc0 > h2{
  }
  .mc0 img{
    width: 100%;
  }
  .tab_wrap2{
    width: 1200px;
    margin: 30px auto 0; 
    /* padding: 0 15px; */
}
.tab_wrap2 .tit_list {
    position: relative;
    font-size: 0;
}
.tab_wrap2 .tit_list::after {
    content:'';
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 1px;
    z-index: 1;
}

.tab_wrap2 .tit_list > li {
    display: inline-block;
    margin-right: 3px;
    vertical-align: top;
}
.tab_wrap2 .tit_list > li a {
    display: inline-block;
    padding: 10px 15px;
    font-size: 14px;
    color: #000;
    text-decoration: none;
}
.tab_wrap2 .tit_list > li a:hover {
    background: #efefef;
}
.tab_wrap2 .tab_con2 .tab_list{
    display: none;
    padding: 15px 0px;
}
.vm a{
    color: #CF112D;
    position: absolute;
    right: 0;
    font-size: 13px;
    top: 0px;
}
/* 푸터영역 */
footer{
  background-color: #000;
  width: 100%;
  height: 150px;
  padding: 20px 0px 20px 0px;
  font-size: 12px;
}
.f_top{
  width: 1200px;
  margin: 0 auto;
  /* text-align: center; */
  line-height: 20px;
  padding-bottom: 20px;
}
.f_top > img{
  padding-bottom: 10px;
}
.f_top ul{
  display: flex;
}
.f_top ul > li {
  margin-right: 40px;
}
.f_top ul > li::after{
  content: "";
  display: block;
  height: 100%;
  width: 1px;
  background-color: #fff;
  transform: translate(63px, -19px);
}
.f_top ul > li:last-child::after{
  background:none;
}
.f_top ul > li > a{
  display: block;
  color: #ccc;
  font-family: 'Nanum Gothic', sans-serif;

}
address{
  width: 1200px;
  margin: 0 auto;
  line-height: 30px;
  position: relative;
}
address > p{
  color: #ccc;

}
.sns{
}
.sns ul{
  position: absolute;
  right: 0;
  top: -140%;
  display: flex;
}
.sns ul > li{
  margin-left: 20px;
}
.sns ul > li > a{
  display: block;
  font-family: 'Nanum Gothic', sans-serif;
}
.fab, .fa-brands{
  font-size: 30px;
  color: #fff;
  font-family: 'Nanum Gothic', sans-serif;
  transition: 0.5s;
}
.fab:hover, .fa-brands:hover{
  color: #CF112D;
}
@media screen and (min-width: 1026px) and (max-width:1200px){
  .gnb > ul > li{
    font-size: 12px;
  }
}
}
